a {
  text-decoration: none;
  color: #333333;
}

#categories {
  font-size: .75em;
  padding-left: 10px;
}

.content {
  padding: 20px 10px;
  border-top: 0px;
}

.content .tab {
  display: none; 
}

.content .active {
  display: block;
}

.tabs {
  margin-top: 50px;
}

.tabs .tab {
  background: #cccccc;
  padding: 15px 40px;
  margin: 2px;
}

.tabs .active {
  background: white;
  border: 1px solid #aaaaaa;
  border-bottom-width: 0;
}

#title_and_category {
  padding-left: 30px;
}