body {
  background: #bdc3c7;
  font-family: 'Sintony', sans-serif;
  font-size: 1.1em;
  color: #222222;
  padding: 0px;
  margin: 0px;
}

a, a:hover{
  text-decoration: none;
  color: #222222;
}

#categories {
  font-size: .75em;
  padding-left: 15px;
}

.content {
  padding: 20px 10px;
  border-top: 0px;
}

.content .tab {
  padding-left: 90px;
  display: none; 
}

.content .active {
  display: block;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
  margin: 0px;
}

i {
  padding: 0px 5px;
  cursor: pointer;
}

p {
  padding: 5px 0px;
  margin: 0px;
}

.tabs {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 70px;
  text-align: center;
}

.tabs .tab {
  background: #2980b9;
  color: #ecf0f1;
  padding: 15px 40px;
  margin: 2px;
}

.tabs .active {
  background: #3498db;
  border: 2px solid #2980b9;
  border-bottom-width: 0;
}

/* makin' it jello! */
.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  }
  
.inner-container {
  width: 300px;
  position: absolute;
}